<!DOCTYPE html>
<html>
  <head>
    <title>Vanilla example </title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Autonmous Car</h1>


    <% if (!locals.fileName) { %>
      <a href="vanilla">Vanilla</a> <br>
      <a href="angular">Angular</a> <br>
      <a href="react">React</a>
    <% } else { %>

    <div id="container">
      <label>Speed</label>
      <div><span id="current_speed">0</span> mph</div>

      <label>Miles left on Gas </label>
      <div><span id="gas_left">0</span> miles</div>

      <label>Engine Health</label>
      <div><span id="engine_health">0</span> %</div>
    </div>

    <% } %>

    <% if (locals.fileName) { %>
      <script src="/js/<%=fileName %>/index.js"></script>
    <% } %>
  </body>
</html>
